body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}
a {
    text-decoration: none;
}
ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}
h1, h2, h3, h4 {
    margin: 0;
}
p {
    margin: 0;
}
img {
    display: block;
}
.header {
    background-color: #FFFFFF;
   
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
    min-width: 320px;
}
.container {
    max-width: 320px;
    margin: 0 auto;
    padding: 0 15px;
}
.header-container {
    display: flex;
    padding: 16px;
    gap: calc(100% - 171px);

}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo {
    font-family: "Raleway", sans-serif;
font-size: 18px;
font-weight: 700;
line-height: 1.17;
letter-spacing: 0.03em;
text-align: left;
color: #4D5AE5;
text-transform: uppercase;
margin-right: 0;
margin-left: 16;
}
.header-logo-end {
    font-family: "Raleway", sans-serif;
font-size: 18px;
font-weight: 700;
line-height: 1.17;
letter-spacing: 0.03em;
text-align: left;
color: #2E2F42;
text-transform: uppercase;
padding-left: 0;
padding-right: 0;
}
.nav-list {
    display: flex;
    flex-direction: row;
    gap: 40px;
    display: none;
}
.nav-link {
font-size: 16px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0.02em;
text-align: left;
color: #2E2F42;
padding: 24px 0;

}
.stud {
    color: #404bbf;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.stud::after {
    content: "";
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link:hover {
    color: #404BBF
}
.nav-link:focus {
    color:  #404bbf
}
.adress-box {
    font-style: normal;
    display: none;
}
.adress-list {
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: flex-end;
}
.contacts-link {
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.02em;
text-align: left;
color: #434455;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.contacts-link:hover {
    color: #404BBF;
}
.contacts-link:focus {
    color: #404bbf;
}
.menu-btn {
    height: 24px;
    width: 24px;
    border: none;
    box-shadow: none;
    background-color: #FFFFFF;
}

.hero {
    background-color: #2E2F42;
    padding: 188px 0;
    background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-bckr-mob.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
padding-top: 72px;
padding-bottom: 72px;
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .hero {
        background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-bckr-mob-2x.jpg);
    }
}
.hero-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main-title {
    color: #FFFFFF;
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 72px;
    width: 216px;
}
.main-button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
background-color: #4D5AE5;
color: #FFFFFF;
cursor: pointer;
display: block;
min-width: 169px;
height: 56px;
border: none;
border-radius: 4px;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
margin-top: 0;
margin-bottom: 72px;
}
.main-button:hover {
    background-color:  #404BBF;
}
.main-button:focus {
    background-color: #404BBF;
}
.adv-section {
    padding: 120px 0;
    min-width: 320px;
}
.visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
}
.advantages-title-name {
    color: #2e2f42; 
    margin-bottom: 8px;
font-size: 36px;
font-weight: 700;
line-height: 40px;
letter-spacing: 0.02em;
text-align: center;

}
.advantages-list {
    display: flex;
    flex-direction: column;
    

}
.advantages-list-item {
    margin-bottom: 72px;
}
.advantages-text-descr {
font-size: 16px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0.02em;
text-align: left;

    color: #434455;
    width: 288px;
}
.atd-4 {
    margin-bottom: 0;
}
.adv-box {
    background-color: #F4F4FD;
    border: 1px solid #8E8F99;
    width: 264px;
height: 112px;
border-radius: 4px;
display: flex;
align-items: center; 
justify-content: center;
margin-bottom: 8px;
display: none;
}
.team-box {
    background-color: #F4F4FD;
    padding: 120px 0;
    min-width: 320px;
width: 100%;
}
.team-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
justify-content: center;
}
.team-title {
    font-family: Roboto;
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.02em;
text-align: center;
color: #2E2F42;
text-transform: capitalize;
margin-bottom: 72px;
}
.team-list-item {
    background-color: #FFFFFF;
    
    border-radius: 0px 0px 4px 4px;
    box-shadow:  0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    margin-bottom: 72px;
    width: 264px;
    
}
.tli-4 {
    margin-bottom: 0;
}
.team-list-item-cont {
    padding: 32px 0;
}
.name {
font-size: 20px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0.02em;
text-align: center;
color: #2E2F42;
background-color: #FFFFFF;
margin-bottom: 8px;
}
.position {
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.02em;
text-align: center;
color: #434455;
background-color: #FFFFFF;
}
.portfolio {
    padding-top: 120px; padding-bottom: 120px;
    min-width: 320px;
}

.portfolio-title {
font-size: 36px;
font-weight: 700;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
text-transform: capitalize;
color: #2E2F42;
margin-bottom: 72px;
}
.portfolio-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 24px;
    row-gap: 48px;
}
.portfolio-list-item {
    width: 288px; 
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08); 
    
}
.portfolio-list-item:hover .portf-list-p {
    transform: translateY(0%);
}
.portfolio-list-item-cont {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
.portf-list-img {
    position: relative;position: relative;
    overflow: hidden;

}
.portf-list-p {
    position: absolute;
    top: 0; 
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px; 
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.portf-list-p:hover {
    transform: translateY(0%);
}

.service {
font-size: 20px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0.02em;
text-align: left;
color: #2E2F42;
margin-bottom: 8px;
}
.field {
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.02em;
text-align: left;
color: #434455;
}
.footer-box {
    background-color: #2E2F42;
    padding: 100px 0;
    
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.footer-text {
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.02em;
text-align: left;
color: #F4F4FD;
margin-top: 0;
box-sizing: border-box;
width: 288px;;
margin-bottom: 0;
}
.footer-logo {
    font-family: "Raleway", sans-serif;
font-size: 18px;
font-weight: 700;
line-height: 1.17;
letter-spacing: 0.03em;
text-align: left;
color: #4D5AE5;
text-transform: uppercase;
display: inline-block;
margin-bottom: 16px;
}
.footer-logo-end {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: left;
    color: #F4F4FD;
    text-transform: uppercase;
}
.logo-footer-box {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 72px;
}
.media {
font-size: 16px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0.02em;
text-align: center;
color: #FFFFFF;
margin-bottom: 16px;

margin-left: 56px;
}
.sm-icon {

    width: 40px;
    height: 40px;
    border-radius: 50px;

}


.sm-list {
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: center;
    align-items: center;
    
}
.footer-sm-box {
    display: flex;
    flex-direction: column;
 justify-content: center;
 margin-bottom: 72px;
}
.sm-icon-footer {
    width: 40px;
    height: 40px;
}

.sm-icon-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex; 
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.sm-icon-link:hover {
    background-color: #404bbf;
}
.sm-icon-link:focus {
    background-color: #404bbf;
}
.sm-icon-logo {
    fill: #f4f4fd;
}
.footer-cont {
    display: flex;
    align-items: baseline;
    flex-direction: column;

}

.sm-icon-footer-link {
    width: 100%;
    height: 100%;
    background-color:#4d5ae5;
    border-radius: 50%;
    display: flex; 
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.sm-icon-footer-link:hover {
    background-color: #31d0aa;
}
.sm-icon-footer-link:focus {
    background-color: #31d0aa;
}
.sm-footer-logo {
    fill: #f4f4fd;
}
.sm-list-footer {
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: space-around;
    align-items: center;
    margin-left: 40px;
}
.backdrop {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(46, 47, 66, 0.4);
    top: 0;
    left: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

}

.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
.modal {
    width: 288px;
    min-height: 623px;
    border-radius: 4px;
    background-color: #fcfcfc;;
    position: absolute;
    top: 50%;
    left: 50%;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    transform: translate(-50%, -50%);
    padding: 72px 24px 24px 24px;
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-x {
    fill: #000000;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close {
    position: absolute;
    top: 24px;
    right: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
width: 24px;
height: 24px;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
padding: 0;
}
.modal-close:hover {
    background-color: #404bbf;
    border: none;
}

.modal-close:focus {
    background-color: #404bbf;
    border: none;
}

.modal-close:hover .close-x {
    fill: #ffffff
}
.modal-close:focus .close-x {
   fill: #ffffff; 
}

.modal-text {
font-family: Roboto;
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: center;
color: #2E2F42;
margin-bottom: 16px;
}
.modal-input {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus {
    border-color: #4D5AE5;
}
.modal-input:focus + .modal-icon {
    fill: #4D5AE5;
}
.modal-input-label {
font-family: Roboto;
font-size: 12px;
font-weight: 400;
line-height: 1.17;
letter-spacing: 0.04em;
text-align: left;
color: #8E8F99;
display: block;
margin-bottom: 4px;
}
.modal-input-icon-box {
    position: relative;
}
.textarea-box {
    margin-bottom: 16px;
}
.modal-textarea {
    width: 100%;
height: 120px;
border-radius: 4px;
border: 1px solid rgba(46, 47, 66, 0.4);
margin-bottom: 16px;
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
color: rgba(46, 47, 66, 0.4);
background-color: transparent;
padding: 8px 16px;
outline: transparent;
resize: none;
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea:focus {
    border-color: #4D5AE5;
}

.modal-textarea::placeholder {

color: #2E2F4266;

}
.pp-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 24px;
}
.pp-label {
font-family: Roboto;
font-size: 12px;
font-weight: 400;
line-height: 1.17;
letter-spacing: 0.04em;
text-align: left;
color: #8E8F99;
margin-left: 0;
margin-bottom: 0;
}
.pp-link {
font-family: Roboto;
font-size: 12px;
font-weight: 400;
line-height: 16px;
letter-spacing: 0.04em;
text-align: left;
text-decoration: underline;
color: #4d5ae5; ;
}

.send-button {
    display: block;
    min-width: 169px;
    height: 56px;
padding: 16px 32px 16px 32px;
gap: 10px;
background-color: #4D5AE5;
border-radius: 4px;
color: #FFFFFF;
font-family: "Roboto", sans-serif;
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.04em;
cursor: pointer;
border: none;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
text-align: center;
margin-left: 36px;
margin-top: 24px;
margin-right: 35px;
margin-bottom: 24px;
}

.check-mark {
    position: relative;
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4); 
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;

}


.checkmark {
    fill: #F4F4FD;
    position: absolute; 
    left: 3px;
    top: 0px;
}

.privacy-policy-input:checked + .pp-label > .check-mark {
    background-color: #404bbf;
    border: none;
    fill:#F4F4FD;
}
.input-box {
    position: relative;
    margin-bottom: 8px;
}
.modal-icon {
    fill:  #2E2F42;
position: absolute;
top: 50%;
left: 16px;
transform: translateY(-50%);
transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-form-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.footer-form-text {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-top: 0;
    margin-bottom: 16px;
}
.footer-form {
    display: flex;
    gap: 24px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.footer-form-input {
    width: 264px;
    height: 40px; 
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #ffffff;
}
.footer-form-input::placeholder {
    color: #ffffff;
}
.footer-form-btn {
    width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
}
.footer-form-btn-icon {
    margin-left: 16px;
}
.menu {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: #FFFFFF;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    top: 0;
    left: 0;   
    padding-top: 72px;
    padding-left: 16px;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
.menu-close-btn {
    position: absolute;
    left: 296px;
    top: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E7E9FC;
    border: 1px solid #2E2F42;
    cursor: pointer;
width: 24px;
height: 24px;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
padding: 0;
}
.menu-nav-list {
    display: flex;
    flex-direction: column;
    margin-bottom: auto;
    gap: 40px;
}
.menu-nav-link {
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #2E2F42; 
    }
    .menu-stud {
        color: #404bbf;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    }
    .menu-nav-link:hover {
        color: #404BBF
    }
    .menu-nav-link:focus {
        color:  #404bbf
    }
    .menu-adress-box {
    font-style: normal;
}
.menu-adress-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 0;
    margin-bottom: 48px;
}
.nav-adr-menu {
    display: flex;
    flex-direction: column;
    gap: 26vh;
}
.menu-contacts-link {
font-size: 16px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0.02em;
text-align: left;
color: #434455;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.menu-contacts-link:hover {
    color: #404BBF;
}
.menu-contacts-link:focus {
    color: #404bbf;
}
.sm-list-menu {
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: center;
    align-items: center;
    margin-left: 0;
    width: 280px;
}
.sm-icon-menu {
    width: 40px;
    height: 40px;
  margin-top: 0px;
  
}
.sm-icon-menu-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex; 
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.sm-icon-menu-link:hover {
    background-color: #31d0aa;
}
.sm-icon-menu-link:focus {
    background-color: #31d0aa;
}
.sm-menu-logo {
    fill: #f4f4fd;
}
.menu-contact-link-tel {
    color: #4D5AE5;
}
@media screen and (min-width: 768px) {
    .header {
        
        max-height: 72px;
    }
    .container {
        max-width: 768px;
    }
    .header-container {
        padding-left: 16px;
        padding-right: 16px;
        padding-top: 12px;
        padding-bottom: 24px;
        gap: 0;
    }
    .nav-list {
        display: flex;
        margin-left: 0;
        margin-right: 0;
    }
    .nav-link {
        padding: 0 auto;
    }
    .adress-box {
        display: flex;
    }
    .adress-list {
        flex-direction: column;
        gap: 12px;
        margin-left: 121px;
    }
    .header-logo {
        margin-right: 120px;
    }
    .menu-btn {
        display: none;
    }
    .contacts-link {
font-size: 12px;
line-height: 14px;
letter-spacing: 0.04em;
    }
    .header-logo {
        margin-top: 0;
        margin-bottom: 0;
    }
    .hero {
       
        max-width: 768px;
        background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-bckr-tab.jpg);
        padding-top: 112px;
        padding-bottom: 112px;
    }
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        .hero {
            background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-bckr-tab-2x.jpg);
        }
    }
    .main-title {
        font-size: 56px;
        font-weight: 700;
        line-height: 60px;
        letter-spacing: 0.02em;
        text-align: center;
        width: 496px;
height: 120px;
        

    }
    .advantages-list {
        flex-direction: row;
        flex-wrap: wrap;
gap: 24px;
justify-content: center;
    }
    .advantages-title-name {
        text-align: left;
    }
    .adv-list-item {
        width: calc((100% - 56px) / 2);
    }
    
    .team-list {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 24px;
    }
    .team-list-item {
        width: 264px;
    }
    .tli-4 {
        margin-bottom: 72px;
    }
    
    .portfolio-list {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 24px;
        row-gap: 72px;
    }
    .portfolio-list-item {
        width: calc((100% - 56px) / 2);
    }
    
    .footer-cont {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: baseline;
        
        width: 584px;
        gap: 24px;
        row-gap: 72px;
    }
    .media {
        margin-top: 0;
        margin-left: 0;
    }
    .footer-form-box {
        margin-top: 0;
        align-items: start;
    }
    
    .footer-text {
        width: 264px;
        margin-bottom: 72px;
        
    }
    .sm-list-footer {
        margin-left: 0;
    }
   .logo-footer-box {
    align-items: start;
   }
   .footer-sm-box {
    align-items: start;
   }
    .footer-form {
        flex-direction: row;
        gap: 24px;
    }
   
    .modal {
        width: 408px;
        min-height: 584px;
    }
    .send-button {
        margin-left: 96px;
        margin-right: 95px;
    }
}


@media screen and (min-width: 1158px) {
    .header {
        
       
        padding-top: 24px;
        padding-bottom: 24px;
    }
    .container {
        max-width: 1158px;
    }
    .header-container {
    padding-top: 0;
    padding-bottom: 0;
    gap: 0;
    
    }
    .nav-list {
        display: flex;
        margin-right: 0;
        margin-top: 0;
    }
    .nav-link {
        padding: 0 auto;
        margin-top: 0;
    }
    .adress-box {
        display: flex;
        margin-left: 0;
        margin-top: 0;
    }
    .adress-list {
        flex-direction: row;
        gap: 40px;
        margin-left: 332px;
        margin-top: 0;
    }
    .header-logo {
        margin-right: 76px;
        margin-left: 0;
        margin-top: 0;
    }
    .menu-btn {
        display: none;
    }
    .header-logo {
        margin-top: 0;
        margin-bottom: 0;
    }
    .hero {
      
        max-width: 99999px;
        background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-bckr-des.jpg);
    }
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        .hero {
            background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-bckr-des-2x.jpg);
        }
    }
    
    .main-title {
        
        font-size: 56px;
        font-weight: 700;
        line-height: 60px;
        letter-spacing: 0.02em;
        text-align: center;
        width: 496px;
height: 120px;
    }
    .adv-section {
      
        padding-left: 0;
    }
    .advantages-list {
        flex-direction: row;
        flex-wrap: nowrap;
gap: 24px;
justify-content: space-between;
align-items: baseline;

    }
    .advantages-title-name {
font-size: 20px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0.02em;
text-align: left;


    }
    .advantages-text-descr {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.02em;
        text-align: left;
        width: 264px;
    }
    .atd-4 {
        margin-bottom: 72px;
    }
    .adv-box {
        display: flex;
       
    }

    .adv-list-item {
        width: calc((100% - 72px) / 4);
        
    }
    
    .team-box {
        width: 100%;
       
        max-width: 99999px;
        
        background-color: #F4F4FD;
    }
    .team-list {
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 24px;
    }
    .team-list-item {
        width: calc((100% - 72) / 4);
    }
    .tli-4 {
        margin-bottom: 72px;
    }
   
    .portfolio-list {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 24px;
        align-items: center;
    }
    .portfolio-list-item {
        width: calc((100% - 48px) / 3);
        max-width: 360px;
    }
    .footer-box {
        min-width: 1158px;
        max-width: 99999px;
    }
    .footer-cont {
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: baseline;
        justify-content: center;
    width: 1158px;
    }
    .footer-text {
        width: 264px;
        margin-bottom: 0;
        
    }
    
    .logo-footer-box {
        margin-right: 120px;

    }
    .footer-form {
        flex-direction: row;
    } 
    .sm-list-footer   {
        margin-right: 80px;
    }
 
    .modal {
        width: 408px;
        min-height: 584px;
    }
    .send-button {
        margin-left: 96px;
        margin-right: 95px;
    }
    .footer-sm-box {
        margin-bottom: 0;
    }
   
}
