body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}
a {
    text-decoration: none;
}
ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}
h1, h2, h3, h4 {
    margin: 0;
}
p {
    margin: 0;
}

.header {
    background-color: #E7E9FC;
    display: flex;
    padding-left: 156px;
    padding-top: 24px;
    padding-right: 156px;
    padding-bottom: 24px;
    gap: 332px;
}
nav {
    display: flex;
    gap: 76px;
}
.nav-list {
    display: flex;
    flex-direction: row;
    gap: 40px;
}
.nav-link {
font-size: 16px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0.02em;
text-align: left;
color: #2E2F42;
}
.nav-link:hover {
    color: #404BBF
}
.nav-link:focus {
    color:  #404bbf
}
.adress-box {
    font-style: normal;
}
.adress-list {
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: flex-end;
}
.contacts-link {
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.02em;
text-align: left;
color: #434455
}
.contacts-link:hover {
    color: #404BBF;
}
.contacts-link:focus {
    color: #404bbf;
}
.main-box {
    background-color: #2E2F42;
    padding-left: 472px;
    padding-top: 188px;
    padding-right: 472px;
    padding-bottom: 188px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.main-title {
    color: #FFFFFF;
font-size: 56px;
font-weight: 700;
line-height: 1.07;
letter-spacing: 0.02em;
text-align: center;
}
.main-button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
background-color: #4D5AE5;
color: #FFFFFF;
cursor: pointer;
width: Hug (169px)px;
height: Hug (56px)px;
top: 428px;
left: 636px;
padding: 16px 32px 16px 32px;
gap: 10px;
border-radius: 4px;
margin-top: 48px;

}
.main-button:hover {
    background-color:  #404BBF;
}
.main-button:focus {
    background-color: #404BBF;
}
.advantages-main-title {
    visibility: hidden;
}
.advantages-title-name {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: left;
    color: #2e2f42 ;
}
.advantages-list {
    display: flex;
    flex-direction: row;
    gap: 24px;
    justify-content: center;
    padding-left: 156px;
    padding-top: 120px;
    padding-right: 156px;
    padding-bottom: 120px;
}
.advantages-text-descr {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
    color: #434455;
}
.team-box {
    background-color: #F4F4FD;
    padding: 120px, 156px;
}
.team-list {
    display: flex;
    flex-direction: row;
    gap: 24px;
    justify-content: center;
    padding-left: 156px;
    padding-right: 156px;
}
.team-title {
font-size: 36px;
font-weight: 700;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
color: #2E2F42;
text-transform: capitalize;
}
.team-list-item {
    background-color: #FFFFFF
}
.name {
font-size: 20px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0.02em;
text-align: center;
color: #2E2F42;
background-color: #FFFFFF;
}
.position {
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.02em;
text-align: center;
color: #434455;
background-color: #FFFFFF;
}
.portfolio-title {
font-size: 36px;
font-weight: 700;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
text-transform: capitalize;
color: #2E2F42;
}
.portfolio-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
}
.portfolio-container {
    margin-top: 120px;
}
.service {
font-size: 20px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0.02em;
text-align: left;
color: #2E2F42;
}
.field {
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.02em;
text-align: left;
color: #434455;
}
.footer-box {
    background-color: #2E2F42;
    padding-left: 156px;
    padding-top: 100px;
    padding-bottom: 100px;

}
.footer-text {
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.02em;
text-align: left;
color: #F4F4FD;
margin-top: 16px;
box-sizing: border-box;
width: 264px;
}
.footer-logo {
    font-family: "Raleway", sans-serif;
font-size: 18px;
font-weight: 700;
line-height: 1.17;
letter-spacing: 0.03em;
text-align: left;
color: #4D5AE5;
text-transform: uppercase;
}
.footer-logo-end {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: left;
    color: #F4F4FD;
    text-transform: uppercase;
}
.header-logo {
    font-family: "Raleway", sans-serif;
font-size: 18px;
font-weight: 700;
line-height: 1.17;
letter-spacing: 0.03em;
text-align: left;
color: #4D5AE5;
text-transform: uppercase;
}
.header-logo-end {
    font-family: "Raleway", sans-serif;
font-size: 18px;
font-weight: 700;
line-height: 1.17;
letter-spacing: 0.03em;
text-align: left;
color: #2E2F42;
text-transform: uppercase;
}