body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}
a {
    text-decoration: none;
}
ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}
h1, h2, h3, h4 {
    margin: 0;
}
p {
    margin: 0;
}
img {
    display: block;
}
.header {
    background-color: #E7E9FC;
    padding-left: 156px;
    padding-top: 24px;
    padding-right: 156px;
    padding-bottom: 24px;
    gap: 332px;
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-container {
    display: flex;
}
.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}
.navigation {
    display: flex;
    align-items: center;
}
.nav-list {
    display: flex;
    flex-direction: row;
    gap: 40px;
}
.nav-link {
font-size: 16px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0.02em;
text-align: left;
color: #2E2F42;
padding: 24px 0;

}
.stud {
    color: #404bbf;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.stud::after {
    content: "";
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link:hover {
    color: #404BBF
}
.nav-link:focus {
    color:  #404bbf
}
.adress-box {
    font-style: normal;
}
.adress-list {
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: flex-end;
}
.contacts-link {
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.02em;
text-align: left;
color: #434455;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.contacts-link:hover {
    color: #404BBF;
}
.contacts-link:focus {
    color: #404bbf;
}
.hero {
    background-color: #2E2F42;
    padding: 188px 0;
    background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-1-min.jpg);
max-width: 1440px;
background-repeat: no-repeat;
background-position: center;
background-size: cover;
}
.main-title {
    color: #FFFFFF;
font-size: 56px;
font-weight: 700;
line-height: 1.07;
letter-spacing: 0.02em;
text-align: center;
max-width: 496px;
}
.main-button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
background-color: #4D5AE5;
color: #FFFFFF;
cursor: pointer;
display: block;
min-width: 169px;
height: 56px;
border: none;
border-radius: 4px;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.main-button:hover {
    background-color:  #404BBF;
}
.main-button:focus {
    background-color: #404BBF;
}
.adv-section {
    padding: 120px 0;
}
.visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
}
.advantages-title-name {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: left;
    color: #2e2f42; 
    margin-bottom: 8px;
}
.advantages-list {
    display: flex;
    flex-direction: row;
    gap: 24px;

}
.adv-list-item {
    width: calc((100% - 72px) / 4)

}
.advantages-text-descr {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
    color: #434455;
}
.team-box {
    background-color: #F4F4FD;
    padding: 120px 0;

}
.team-list {
    display: flex;
    flex-direction: row;
    gap: 24px;
}
.team-title {
font-size: 36px;
font-weight: 700;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
color: #2E2F42;
text-transform: capitalize;
margin-bottom: 72px;
}
.team-list-item {
    background-color: #FFFFFF;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow:  0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.team-list-item-cont {
    padding: 32px 0;
}
.name {
font-size: 20px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0.02em;
text-align: center;
color: #2E2F42;
background-color: #FFFFFF;
margin-bottom: 8px;
}
.position {
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.02em;
text-align: center;
color: #434455;
background-color: #FFFFFF;
}
.portfolio {
    padding-top: 120px; padding-bottom: 120px;
}

.portfolio-title {
font-size: 36px;
font-weight: 700;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
text-transform: capitalize;
color: #2E2F42;
margin-bottom: 72px;
}
.portfolio-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 24px;
    row-gap: 48px;
}
.portfolio-list-item {
    width: calc((100% - 48px) / 3); 
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08); 
    
}
.portfolio-list-item:hover .portf-list-p {
    transform: translateY(0%);
}
.portfolio-list-item-cont {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
.portf-list-img {
    position: relative;position: relative;
    overflow: hidden;

}
.portf-list-p {
    position: absolute;
    top: 0; 
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px; 
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.portf-list-p:hover {
    transform: translateY(0%);
}

.service {
font-size: 20px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0.02em;
text-align: left;
color: #2E2F42;
margin-bottom: 8px;
}
.field {
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.02em;
text-align: left;
color: #434455;
}
.footer-box {
    background-color: #2E2F42;
    padding: 100px 0;

}
.footer-text {
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.02em;
text-align: left;
color: #F4F4FD;
margin-top: 16px;
box-sizing: border-box;
max-width: 264px;
}
.footer-logo {
    font-family: "Raleway", sans-serif;
font-size: 18px;
font-weight: 700;
line-height: 1.17;
letter-spacing: 0.03em;
text-align: left;
color: #4D5AE5;
text-transform: uppercase;
display: inline-block;
margin-bottom: 16px;
}
.footer-logo-end {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: left;
    color: #F4F4FD;
    text-transform: uppercase;
}
.header-logo {
    font-family: "Raleway", sans-serif;
font-size: 18px;
font-weight: 700;
line-height: 1.17;
letter-spacing: 0.03em;
text-align: left;
color: #4D5AE5;
text-transform: uppercase;
margin-right: 76px;
}
.header-logo-end {
    font-family: "Raleway", sans-serif;
font-size: 18px;
font-weight: 700;
line-height: 1.17;
letter-spacing: 0.03em;
text-align: left;
color: #2E2F42;
text-transform: uppercase;
}
.media {
font-size: 16px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0.02em;
text-align: left;
color: #FFFFFF;
margin-bottom: 16px;
}
.sm-icon {

    width: 40px;
    height: 40px;
    border-radius: 50px;

}


.sm-list {
    display: flex;
    flex-direction: row;
    gap: 24px;
    justify-content: center;
}
.adv-box {
    background-color: #F4F4FD;
    border: 1px solid #8E8F99;
    width: 264px;
height: 112px;
border-radius: 4px;
display: flex;
align-items: center; 
justify-content: center;
margin-bottom: 8px;
}
.sm-icon-footer {
    width: 40px;
    height: 40px;
  
}

.sm-icon-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex; 
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.sm-icon-link:hover {
    background-color: #404bbf;
}
.sm-icon-link:focus {
    background-color: #404bbf;
}
.sm-icon-logo {
    fill: #f4f4fd;
}
.footer-cont {
    display: flex;
    align-items: baseline;

}
.logo-footer-box {
    margin-right: 120px
}
.sm-icon-footer-link {
    width: 100%;
    height: 100%;
    background-color:#4d5ae5;
    border-radius: 50%;
    display: flex; 
    align-items: center;
    justify-content: center;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.sm-icon-footer-link:hover {
    background-color: #31d0aa;
}
.sm-icon-footer-link:focus {
    background-color: #31d0aa;
}
.sm-footer-logo {
    fill: #f4f4fd;
}
.sm-list-footer {
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: center;
}